/* WangChung */

body {
  margin: 0;
  padding: 0;
}

img {
  border: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, p, li {
  margin: 0;
  padding: 0;
}

#login {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

#login li {
  display: inline;
  margin: 0 0.25em 0 0;
}

input#identity_url {
  background: url( /images/openid.gif ) no-repeat;
  background-position: 0 50%;
  background-color: #fff;
  padding-left: 18px;
}

#dates {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

#dates li {
  display: inline;
  margin: 0 0.25em 0 0;
}

input#when {
  border: 0px;
  width: 6em;
}

#dates img {
  margin: 0 0 5px 0;
  padding: 0;
  vertical-align: middle;
}

#popular_cities {
  position: absolute;
  top: 4em;
  left: 4%;
  width: 25%;
  height: 10em;
  overflow: hidden;
}

#popular_events {
  position: absolute;
  top: 4em;
  left: 37%;
  width: 25%;
  height: 10em;
  overflow: hidden;
}

#new_places {
  position: absolute;
  top: 4em;
  left: 70%;
  width: 25%;
  height: 10em;
  overflow: hidden;
}

#search {
  position: absolute;
  top: 15em;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: large;
}

#search input[type=text] {
  width: 20%;
  padding: 0.25em;
  font-size: large;
}

#results {
  position: absolute;
  top: 20em;
  margin: 0.5em;
}
